@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom resets */
:root{
  --muted: #6b7280;
  --card: #ffffff;
}
body {
  @apply bg-gray-50 text-slate-800;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}
